<div class="title-profil"><h2>Blog</h2></div>
<h3>Blog de MatMat</h3>
<div class="img-profil">
  <img src="../../assets/fdamienss.png" alt="" />
</div>
<div class="description">
  <h4>Description :</h4>
  <p>
    Bonjour petite perruche, bienvenue dans mon auto ! Ah mais attends... on m'a
    Car-jacké l'auto !!!!
  </p>
</div>
<div class="buttons-profil">
  <ul>
    <li>Envoyer un message</li>
    <li>Offrir un cadeau</li>
    <li>Suivre</li>
    <li>Bloquer</li>
    <li>Choisir un habillage</li>
  </ul>
</div>
