.container {
  background-color: #e38686;
  color: black;
  width: 500px;
  height: 900px;
  margin: 0 auto;
  border-radius: 10px;

  h1 {
    text-align: center;
    color: white;
    padding-top: 20px;
  }

  h2 {
    text-align: start;
    color: black;
    padding-left: 40px;
  }

  p {
    padding: 20px 40px;
  }

  .img-container {
    text-align: center;
  }

  .btn-container {
    text-align: center;
    margin: 10px auto;

    button {
      background-color: white;
      color: #e38686;
      border-radius: 5px;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.264);
      padding: 5px 15px;
    }
  }

  .input-container {
    text-align: center;
    margin-top: 30px;
  }
}
