.big-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .container {
    background-color: #898686;
    color: black;
    height: auto;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.421);

    h1 {
      text-align: center;
      color: white;
      padding: 5px;
      font-size: 1.2em;
      width: 98.5%;
      background-color: black;
      border-radius: 8px 9px 0 0;
    }

    .img-container {
      text-align: center;
      margin: 15px;
      width: 100%;

      img {
        width: 80%;
      }
    }

    h2 {
      text-align: start;
      color: black;
      padding-left: 40px;
    }

    p {
      padding: 20px 40px;
      font-size: 1.2em;
    }

    .btn-container {
      text-align: center;
      margin: 10px auto;

      button {
        background-color: white;
        color: #e38686;
        border-radius: 5px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.264);
        padding: 5px 15px;
      }
    }

    .input-container {
      text-align: center;
      margin-top: 30px;
    }

    .buttons-footer {
margin: 10px;

button {
  margin: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: black;
  cursor: pointer;
}
    }
    .footer-article {
      p {
        padding: 10px 5px;
      }
    }
  }
}
