.container {
  background-color: #e38686;
  color: black;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  border-radius: 10px;

  h1 {
    text-align: center;
    color: white;
    padding-top: 20px;
  }

  p {
    padding: 20px 40px;
  }
}
