<div class="big-container">
  <div class="container" *ngFor="let article of articleList; let i = index">
    <h1>{{ article.title }}</h1>
    <div class="img-container">
      <img [src]="article.image" [alt]="article.title" />
    </div>
    <div *ngIf="article.isPublished">
      <p>{{ article.content }}</p>
    </div>

   <!--  <div class="btn-container">
      <button (click)="togglePublication(i)">
        {{ article.isPublished ? "Dépublier" : "Publier" }}
      </button>
    </div>

    <div class="input-container">
      <input
        type="text"
        [(ngModel)]="article.comment"
        placeholder="Ajoutez un commentaire"
      />
    </div>
    <div class="comment">
      <p>{{ article.comment }}</p>
    </div>
    <a [routerLink]="['/article', article.id]">Voir details</a> -->
    <div class="buttons-footer">
    <button (click)="sendLike(i)">Je like</button>
    <button>Commenter</button>
  </div>
    <div class="footer-article">
      <p>{{ article.isPublished ? "Publié" : "Non publié" }} par {{ article.author }}</p>
    </div>
  </div>
</div>
