<app-header></app-header>
<div class="home-container">
  <p>{{ messageFromChild }}</p>
  <div class="profil-side">
    <div class="title-profil"><h2>Blog</h2></div>
    <h3>Blog deu MatMat</h3>
    <div class="img-profil">
    <img src='https://via.placeholder.com/250x300' alt="">
  </div>
  </div>
  <div class="article-side">
    <app-article-component
      [articleList]="articleList"
      (notifyParent)="handleNotification($event)"
    ></app-article-component>
  </div>
  <div class="blog-side">
    <div class="title-blog">
      <h3>Infos</h3>
    </div>
    <div>
    <p><strong>Création:</strong> 06/09/2009</p>
    <p><strong>Mise à jour:</strong>30/09/2024</p>
    <div class="title-blog">
      <h3>Tags</h3>
      <p>Kikou KissKiss
        Love Top Best
        MyLove
      </p>
    </div>
  </div>
  </div>
</div>
