<app-header></app-header>
<div class="home-container">
  <p>{{ messageFromChild }}</p>
  <div class="profil-side">
    <div class="title-profil"><h2>Blog</h2></div>
    <h3>Blog deu MatMat</h3>
    <div class="img-profil">
      <img src="../../assets/fdamienss.png" alt="" />
    </div>
    <div class="description">
      <h4>Description :</h4>
      <p>Bonjour petite perruche, bien venu dans mon auto ! Ah mais attends... 
        on m'a kardjaké l'auto !!!! 
      </p>
    </div>
    <div class="buttons-profil">
      <ul>
        <li>Envoyer un message</li>
        <li>Offrir un cadeau</li>
        <li>Suivre</li>
        <li>Bloquer</li>
        <li>Choisir un habillage</li>
      </ul>
    </div>
  </div>
  <div class="article-side">
    <app-article-component
      [articleList]="articleList"
      (notifyParent)="handleNotification($event)"
    ></app-article-component>
  </div>
  <div class="blog-side">
    <div class="title-blog">
      <h3>Infos</h3>
    </div>
    <div>
      <p><strong>Création:</strong> 06/09/2009</p>
      <p><strong>Mise à jour:</strong>30/09/2024</p>
      <p><strong>19 076 </strong>visites</p>
      <p><strong>76 </strong>visites ce mois</p>
      <p><strong>2 </strong>articles</p>
      <p><strong>1 </strong>commentaire</p>
      <p><strong>4 </strong>amis</p>
      <div class="tag-blog">
        <h3>Tags</h3>
        <p>Kikou KissKiss Love Top Best MyLove Family
          BlogForEver WildCodeSchool JSForever POECPOEC
          Camembert
        </p>
      </div>
    </div>
  </div>
</div>
